body {
  margin: 0;
  background-color: #000;
  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Helvetica", sans-serif;
}

/*******TEXT STYLING*******/

h1 {
  font-size: 22px;
  color: #fff;
}

.header-title {
  border-block-end: 2px solid #252525;
  padding-bottom: 10px;
  margin: 25px;
}

a.album-link,
a.artist-link,
a:visited {
  text-decoration: none;
}

.artist-link,
.album-name {
  font-size: 14px;
}

.artist-link:hover,
.album-name {
  color: #fff;
  margin-bottom: 0;
}

.artist-link {
  color: #a0a0a0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.artist-link:hover {
  color: #fff;
  text-decoration: underline;
}

.album-name:hover {
  color: #fff;
  text-decoration: underline;
}

.artist-container {
  margin-right: 5px;
}

/*******NOTE*******/

/*We figured out how to add the commas and & with CSS and with react so we wanted to keep both for knowledge*/

/* .artist-container:not(:last-child)::after {
  color: #a0a0a0;
  content: ", ";
}

.artist-container:nth-last-child(2)::after {
  color: #a0a0a0;
  content: " & ";
} */

/*******IMAGES AND ICONS*******/

.image-group {
  position: relative;
}

.icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* visibility: hidden; */
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image-group:hover .icon-wrapper {
  /* visibility: visible;*/
  display: flex;
}

.play-icon {
  width: 75px;
  opacity: 0.6;
}

.icons {
  width: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0.5rem;
  opacity: 0.6;
}

.play-icon:hover {
  transform: scale(1.2);
  opacity: 1;
  transition: 0.3s ease-in;
}

.album-cover {
  display: block;
  width: 100%;
}

.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.image-group:hover .image-overlay {
  background-color: #000000c5;
  transition: background-color 0.8s ease;
}

/*******ALBUM CARDS*******/

.app {
  margin: 2rem;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2.5rem;
}

.album-card {
  display: flex;
  flex-direction: column;
}

.text-container {
  width: 95%;
  display: block;
}

.album-text-group,
.artist-text-group {
  width: 95%;
  display: flex;
}

/*******FOOTER*******/

.footer-title {
  border-block-start: 2px solid #252525;
  color: #a0a0a0;
  padding-top: 10px;
  margin: 25px;
  font-size: 16px;
}

/*******MEDIA QUERIES*******/

@media screen and (min-width: 1024px) {
  .app {
    margin: 0;
  }
  .main-container {
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    grid-row-gap: 2rem;
    margin: 0 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
